/*
###############################################################
		TABLE OF CONTENTS
###############################################################
	#IMPORTING FONTS - GOOGLE
	#RESETTING DEFAULT VALUES
	#CLEARFIXES
	#SETTING GLOBAL FONT SIZES
	#BANNER STYLING
	#HEADER SECTION STYLING 
	#CONTENT STYLING
	#CUSTOM MARGINS AND PADDINGS
	#MOBILE AND TABLET COMPATIBILITY
###############################################################

/* START IMPORTING FONTS - GOOGLE */

@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

/* END IMPORTING FONTS - GOOGLE */

/* ------------------ START RESETTING HTML ELEMENTS ------------------ */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    clear: both;
}
html {
    overflow-y: scroll;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
a:focus {
    outline: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}
audio, canvas, video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
}
del {
    color: #333;
}
ins {
    background: #fff9c0;
    text-decoration: none;
}
hr {
    background-color: #f4b022;
    border: 0;
    height: 1px;
    margin: 24px;
    margin-bottom: 1.714285714rem;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
small {
    font-size: smaller;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

/* ------------------ END RESETTING HTML ELEMENTS ------------------ */

/* ------------------ START CLEARFIXES ------------------ */

.clear:after, .wrapper:after, .format-status .entry-header:after {
    clear: both;
}
.clear:before, .clear:after, .wrapper:before, .wrapper:after, .format-status .entry-header:before, .format-status .entry-header:after {
    display: table;
    content: "";
}

/* ------------------ END CLEARFIXES ------------------ */

/* ------------------ START BOOTSTRAP CUSTOM CONFIG ------------------ */

.tooltip-inner {
    color: #FFF !important;
    font: 13px 'Source Sans Pro', sans-serif;
    border-radius: 0;
    padding: 4px 8px;
}
.tooltip.top {
    margin-top: -6px;
}
.accordion-heading .accordion-toggle {
    text-align: center;
    color: #898989;
}
.accordion-inner {
    padding: 15px;
}
.accordion-inner .row-fluid {
    margin: 0;
}
.btn-info {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #48cd52;
    background-image: -moz-linear-gradient(top, #48cd52, #48cd52);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#66b1f4), to(#66b1f4));
    background-image: -webkit-linear-gradient(top, #66b1f4, #48cd52);
    background-image: -o-linear-gradient(top, #66b1f4, #48cd52);
    background-image: linear-gradient(to bottom, #66b1f4, #48cd52);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5A91FA', endColorstr='#ff4E7FDA', GradientType=0);
    border-top: 1px solid #48cd52;
    *background-color: #48cd52;
    box-shadow: 0 1px 0px 0px #333;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.navbar-inverse .navbar-inner {
    background: #FFF;
    color: #898989;
    border: none;
}
.navbar-inner {
    box-shadow: none;
    padding: 0;
}
.navbar-inverse .brand:focus, .navbar-inverse .nav > li > a:focus, .navbar .nav > li > a {
    text-shadow: none;
    padding: 12px 30px;
    font-weight: bold;
    font-size: 16px;
    color: #30b525;
    line-height: 46px;
}
.navbar-inverse .brand:hover,
.navbar-inverse .nav > li > a:hover,
.navbar-inverse .nav > li.current > a {
    color: #404040;
}
.navbar {
    margin: 0;
}
.navbar .nav > li > a:first-child {
    padding-left: center;
}
.nav > li:first-child {
    margin-right:2.2rem;
}
.btn:hover,
.btn:focus {
    color: #FFF;
    text-decoration: none;
    background-color: #504f3d;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

/* ------------------ END BOOTSTRAP CUSTOM CONFIG ------------------ */

/* ------------------ START SETTING GLOBAL FONT SIZES ------------------ */

html {
    font-size: 62.5%;
}
body {
    font-size: 14px;
    font-size: 1.4rem;
    font-family: 'Source Sans Pro', sans-serif;
}
h1 {
    font-size: 24px;
    font-size: 2.4rem;
}
p {
    font-size: 14px;
    font-size: 1.4rem;
}
.theme_col {
    margin: 0 auto;
    color: #FFF;
}
.theme_col_2 {
    max-width: 7.5.0rem;
}
a:hover, a:focus {
    text-decoration: none;
}
h2, h3 {
    font-weight: 300;
}
h2 {
    font-size: 36px;
    font-size: 3.6rem;
}
h3 {
    font-size: 24px;
    font-size: 2.4rem;
}
h5 {
    font-size: 18px;
    font-size: 1.8rem;
}
h3 span {
    font-weight: 600;
}

/* ------------------ END SETTING GLOBAL FONT SIZES ------------------ */

/* ------------------  START BANNER STYLING ------------------ */

figure.fixedratio_h1 {
    padding-top: 37.309511297950604308985811875985%;
    display: block;
    margin: 0;
    background-image: url(images/header-1.jpg);
    background-position: center;
    position: relative;
    background-size: cover;
    -moz-background-size: cover;
    background-attachment: fixed;

}
figure.fixedratio_h2 {
    padding-top: 37.309511297950604308985811875985%;
    display: block;
    margin: 0;
    background-image: url(imgages/header-2.jpg);
    background-position: center;
    position: relative;
    background-size: cover;
    -moz-background-size: cover;
    background-attachment: fixed;
}
figure.fixedratio_h3 {
    padding-top: 37.309511297950604308985811875985%;
    display: block;
    margin: 0;
    background-image: url(images/header-3.jpg);
    background-position: center;
    position: relative;
    background-size: cover;
    -moz-background-size: cover;
     background-attachment: fixed;
}
figure.fixedratio_h4 {
    padding-top: 55%;
    display: block;
    margin: 0;
    background-image: url(images/header-1.jpg);
    background-position: center;
    position: relative;
    background-size: cover;
    -moz-background-size: cover;
    background-attachment: fixed;

}

/* ------------------ END BANNER STYLING ------------------ */

.f_left, .f_center, .f_right {
    margin: 0 auto;
}
.f_left {
    float: left !important;
    text-align: left;
}
.f_right {
    float: right !important;
    text-align: right;
}
.f_center {
    text-align: center !important;
}
.hover_overlay {
    z-index: 120;
}
.linked_button {
    min-height: 48px;
}

/* ------------------ START MAP STYLING ------------------ */

.info_bubble_header {
    background: none repeat scroll 0 0 #CC944E;
    color: #FFFFFF;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 18px;
    font-weight: normal;
    padding: 8px 12px;
    position: relative;
    text-shadow: 1px 1px 0 #555555;
}
.map_loc {
    min-width: 100%;
    min-height: 486px;
}
.map_loc img {
    max-width: none;
}
.bubble_content {
    padding: 15px 13px;
}
.bubble_content img {
    border: 1px solid #DEDEDE;
}
.bubble_content > div {
    float: left;
}
.seller_img {
    width: 70px;
}
.seller_desc {
    margin-left: 10px;
    width: 170px;
    color: #404040;
    line-height: 130%;
}
.seller_desc h2 {
    color: #CC944E;
    font-size: 30px;
    font-weight: normal;
    line-height: 100%;
    margin: 0 0 5px;
}
.seller_desc a {
    color: #CC944E;
}
.seller_desc a:hover {
    color: #CB852E;
    text-decoration: none;
}
.contact_seller {
    margin: 20px 0 0;
}
.map_overlay {
    position: absolute;
    z-index: 4000;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    left: 0;
    top: 0;
}
.map_text {
    position: relative;
    z-index: 5000;
    color: #FFF;
}
.map_text .abs_heading_text {
    margin-top: -30%;
}

/* ------------------ END MAP STYLING ------------------ */

/* ------------------ START SLIDER STYLING ------------------ */

.flexslider .slides img {
    width: auto;
    margin-bottom: 20px;
}
.chevrons i {
    font-size: 3.5rem;
    color: #e7e7e5;
}
.chevrons .active i {
    color: #36be31;
}
.chevrons {
    margin-top: 14.4rem;
}

/* ------------------ END SLIDER STYLING ------------------ */

/* ------------------ START HEADING STYLE ------------------ */

.fixedratio_h2 .abs_heading_text, .fixedratio_h3 .abs_heading_text, .fixedratio_h3 .abs_heading_text {
    margin-top: -21%;
}
.headerbg_1, .headerbg_2 {
    position: relative;
    z-index: 100;
}
.abs_heading_text {
    margin-top: -20%;
}
.abs_heading_text h3 {
    line-height: 100%;
    color: #FFF;
}
.nav .btn-info {
    padding: 10px 30px !important;
    box-shadow: none !important;
}
.nav .logo, .nav i {
    color: #504f3d;
    font-size: 28px;
}
.navbar_menu_fixed {
    box-shadow: 0 1px 2px 0 #;
    width: 100%;
    background: #FFF;
}
.heading_1 > .row-fluid > [class*="span"] > h3, .heading_1 > h3 {
    margin-bottom: 35px;
    border-bottom: 1px solid #e6e8ea;
    padding-bottom: 27px;
}
/* #parallax_1 .overlay_bg {
    z-index: 120;
}
#parallax_1 .content_overlay {
    z-index: 130;
} */
.overlay_bg {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    z-index: 94;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.fixedratio_h2 {
    position: relative;
    z-index: 0;
}
.content_overlay {
    position: relative;
    z-index: 95;
}
.navbar_menu_fixed {
    position: relative;
    z-index: 10000;
}
a.btn_linkedin {
    display: block;
    height: 33px;
    width: 188px;
    background: url(images/linkedin-button.png) no-repeat;
}
a.btn_linkedin:hover {
    opacity: .9;
}  

/* ------------------ END HEADING STYLE ------------------ */

/* ------------------ START CONTENT STYLE ------------------ */
.navigation { background:#fff; }
.row-fluid [class*="span"] {
    min-height: auto;
}
.app_available_widget h5, .faqs_widget h5, .contact_widget h5, .jobs_widget h5 {
    color: #242424;
    margin-bottom: 30px;
    font-weight: 400;
}
.position_content strong {
    font-weight: 600;
}
.app_available_widget img {
    margin-bottom: -10px;
}
.wrapper_content {
    margin-bottom:50px;
}
.container_1 > * {
    float: left;
}
.container_1 i {
    font-size: 30px;
    margin-right: 14px;
}
.container_1 .features_widget i {
    font-size: 6rem;
}
.progress {
    background: #8b6f59;
    border-radius: 10px;
    box-shadow: none;
    padding: 2px;
    height: 100%;
    line-height: 100%;
    min-height: 100%;
}
.progress .bar {
    background: #e7e7e5;
    border-radius: 10px;
    height: 11px;
}
.entry-content p, .entry-content div {
    line-height: 150%;
    color: #898989;
}
.entry-content h2, .entry-content h3 {
    line-height: 100%;
}
.entry-content h2 {
    color: #898989;
    text-align: center;
    margin-bottom: 2rem;
}
.entry-content h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}
h3, .icon_desc strong {
    color: #242424;
}
.slide_content > li > .row-fluid > .span6 {
    margin-bottom: 30px;
}
h5 {
    margin-bottom: 10px;
    color: #242424;
    font-weight: 600;
}
.italic {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
    color: #a5a5a5;
    font-style: italic;
}
.rating div {
    color: #898989;
}
.uiIconText {
    color: #FFF;
}
.contact_support .icon_desc p strong {
    font-size: 1.8rem;
    font-weight: 600;
}
.intro {
    margin: 5rem 0 0 !important;
}
.purchase_btn {
    margin-top: 14px !important;
    border: none;
    font: 16px 'Source Sans Pro', sans-serif;
    font-weight: 700;
}
.theme_col .btn {
    padding: 16px 40px;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}
.chevrons a {
    display: block;
}
.icon_60 {
    font-size: 60px;
}
.container_1 strong {
    color: #404040;
}
a#youtube {
    color: #FFF;
}
a#youtube i:hover {
    cursor: pointer;
}
.features_widget i {
    font-size: 6rem;
}
.features_widget h5 {
    font-weight: 400;
    color: #242424;
    margin-bottom: 3rem;
}
.features_widget > .row-fluid > .span4 {
    margin-bottom: 2.8rem;
}
.features_widget > .row-fluid:last-child > .span4 {
    margin-bottom: 0;
}
.formatted_1 {
    margin-bottom: 24px;
}
.formatted_1 li {
    border-bottom: 1px solid #e9e9e9;
}
.formatted_1 li:first-child {
    border-top: 1px solid #e9e9e9;
}
.formatted_1 li a {
    font-size: 1.4rem;
    color: ;
    padding: 10px 13px;
    display: block;
}
.formatted_1 li:hover i, .formatted_1 .active i {
    text-decoration: none;
    color: #c95498;
}
.formatted_1 li a:hover {
    text-decoration: none;
}
.formatted_1 li i {
    font-size: 1.5rem;
    color: #e7e7e5;
    margin-right: 30px;
}
.member_img {
    text-align: center;
    margin-bottom: 20px;
}
.member {
    text-align: center;
}
.social_links {
    font-size: 2rem;
    margin-bottom: 20px;
}
.social_links .icon-facebook-sign {
    color: #3b5b99;
}
.social_links .icon-twitter-sign {
    color: #42c8f4;
}
.social_links li {
    display: inline-block;
    margin-right: 10px;
}
.social_links li a {
    display: block;
    line-height: 24px;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
}
.polling_faq a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    color: #898989;
}
.polling_faq a:first-child {
    margin-right: 10px;
}
.polling_faq a:hover {
    color: #555;
}
.btn_custom_1 {
    background: #3ec640;
    text-shadow: none;
    color: #FFF;
    font-weight: 700;
    padding: 13px 18px;
    border-radius: 5px;
    box-shadow: none;
    border: none;
}
.btn_custom_1:hover {
    background: #3ea5ef;
}
.contact_widget .container_1 i {
    margin-right: 20px;
    margin-top: 4px;
    display: block;
    color: #404040 !important;
}
.contact_widget .container_1 .icon-mobile-phone {
    font-size: 40px;
}
.address_details > .row-fluid {
    margin-bottom: 20px;
}
.thumb_container img {
    border-radius: 38px 38px 38px 38px;
}
#request_results, #signupResults {
    margin-left: 10px;
}
.social_links li a:hover {
    opacity: .8;
    text-decoration: none;
}
.fb-like {
    margin-top: 20px;
}
.fb_iframe_widget #u_0_3 {
    color: #FFF;
}
.faqs_content .active {
    display: block;
}
input[type="text"] {
    padding: 10px 0;
    height: auto;
    text-indent: 10px;
}
.subscribe .btn {
    padding: 9px 0;
}
.ratings h5 {
    margin-bottom: 30px;
}
.form_container li {
    margin-bottom: 20px;
}
.form_container li input, .form_container li textarea {
    margin-bottom: 0;
}
label.error { font-size: 13px; padding-top: 5px; color: #eb0000; }

/* ------------------ END CONTENT STYLE ------------------ */

/* ------------------ START CUSTOM PADDINGS AND MARGINS ------------------ */

.paddingt_140 {
    padding: 140px 0 140px;
}
.paddingb_remove {
    padding-bottom: 0;
}
.paddingt_80 {
    padding: 80px 0 50px;
}
.paddingt_70 {
    padding-top: 70px;
}
.paddingt_60 {
    padding-top: 60px;
}
.paddingt_30 {
    padding-top: 30px;
}
.paddingb_60 {
    padding-bottom: 6rem;
}
hr {
    margin: 0 0 20px;
}
.hr {
    border-bottom: 1px solid #e6e8ea;
    height: 1px;
}
.copyright {
    color: #898989;
    margin-bottom: 20px;
}
.developer {
    margin-left: 720px;
 
}
#page > footer {
    padding-bottom: 20px;
}
.logo {
    vertical-align: middle;
}
.footer a {
    color: #898989;
}
.marginb_56 {
    margin-bottom: 56px;
}
.marginb_52 {
    margin-bottom: 52px;
}
.marginb_20 {
    margin-bottom: 2rem;
}
.mb_56 {
    margin-bottom: 56px;
}
.mb_50 {
    margin-bottom: 50px;
}
.mb_27 {
    margin-bottom: 27px;
}
.marginb_30 {
    margin-bottom: 30px;
}
.marginb_50 {
    margin-bottom: 50px;
}

/* ------------------ END CUSTOM PADDINGS AND MARGINS ------------------ */

/* ------------------ START MOBILE AND TABLET COMPATIBILITY ------------------ */

@media (min-width: 768px) and (max-width: 979px) {
    .row {
        margin-left: 0;
    }
    .span12 {
        width: 724px;
    }
    .row > .span11 {
        width: 662px;
    }
    .row > .span10 {
        width: 600px;
    }
    .row > .span9 {
        width: 538px;
    }
    .row > .span8 {
        width: 476px;
    }
    .row > .span7 {
        width: 414px;
    }
    .row > .span6 {
        width: 352px;
    }
    .row > .span5 {
        width: 290px;
    }
    .row > .span4 {
        width: 228px;
    }
    .row > .span3 {
        width: 166px;
    }
    .row > .span2 {
        width: 104px;
    }
    .row > .span1 {
        width: 42px;
    };
}
@media (min-width: 980px) {
    .row {
        margin-left: 0;
    }
    .row > .span12 {
        width: 940px;
    }
    .row > .span11 {
        width: 860px;
    }
    .row > .span10 {
        width: 780px;
    }
    .row > .span9 {
        width: 700px;
    }
    .row > .span8 {
        width: 620px;
    }
    .row > .span7 {
        width: 540px;
    }
    .row > .span6 {
        width: 460px;
    }
    .row > .span5 {
        width: 380px;
    }
    .row > .span4 {
        width: 300px;
    }
    .row > .span3 {
        width: 220px;
    }
    .row > .span2 {
        width: 140px;
    }
    .row > .span1 {
        width: 60px;
    };
}
@media (min-width: 1200px) {
    [class*="span"] {
        float: left;
        min-height: 1px;
        margin-left: 29px;
    }
    .row {
        margin-left: 0;
    }
    .row > .span12 {
        width: 1170px;
    }
    .row > .span11 {
        width: 1070px;
    }
    .row > .span10 {
        width: 970px;
    }
    .row > .span9 {
        width: 870px;
    }
    .row > .span8 {
        width: 770px;
    }
    .row > .span7 {
        width: 670px;
    }
    .row > .span6 {
        width: 670px;
    }
    .row > .span5 {
        width: 470px;
    }
    .row > .span4 {
        width: 370px;
    }
    .row > .span3 {
        width: 270px;
    }
    .row > .span2 {
        width: 270px;
        height: 130px;
    }
    .row > .span1 {
        width: 70px;
    }
    .row-fluid > #previous {
        float: left !important;
        width: auto;
    }
    .row-fluid > #next {
        float: right !important;
        width: auto;
    };
}
@media (min-width: 980px) {
    .paddingt_140 {
        padding: 8rem 0 14rem;
    }
    .paddingb_60 {
        padding-bottom: 6rem;
    }
    .paddingb_remove {
        padding-bottom: 0;
    };
}
@media (max-width: 979px) {
    figure.fixedratio_h1 {
        background-size: cover;
        -moz-background-size: cover;
    }
    figure.fixedratio_h1 .abs_heading_text {
        margin-left: 10%;
    }
    figure.fixedratio_h2 .abs_heading_text {
        margin-left: 10%;
    }
    .navbar-inverse .brand:focus, .navbar-inverse .nav > li > a:focus, .navbar .nav > li > a {
        padding: 0;
        line-height: 3rem;
        text-align: center;
    }
    .nav > li:first-child {
        margin-right: 0;
    }
    .navbar-inverse .nav > li.current > a {
        color: #FFF;
    }
    .navbar .btn-navbar {
        margin-right: 0;
    }
    .navbar-inverse .nav-collapse .nav > li > a, .navbar-inverse .nav-collapse .dropdown-menu a {
        background: none repeat scroll 0 0 #fff;
        border-bottom: 1px solid #fff;
        border-radius: 0 0 0 0;
        color: #000;
        margin: 0;
    };
}
@media (min-width: 768px) and (max-width: 979px) {
    figure.fixedratio_h1 .abs_heading_text {
        margin-bottom: 10%;
        margin-left: 0;
    }
    figure.fixedratio_h2 .abs_heading_text {
        margin-bottom: 10%;
        margin-left: 0;
    }
    figure.fixedratio_h1 {
        padding: 37.3095% 0;
    }
    figure.fixedratio_h2, figure.fixedratio_h3 {
        padding: 25.538623226484498160798738833421% 0;
    };
}
@media (max-width: 767px) {
    .row-fluid > #previous {
        float: left !important;
        width: auto;
    }
    .row-fluid > #next {
        float: right !important;
        width: auto;
    }
    .rating > li > .row-fluid > .span3, .rating > li > .row-fluid .progress {
        text-align: center;
        margin-bottom: 1rem;
    }
    .slide_content * {
        text-align: center;
        margin: 0 auto;
    }
    .form_container {
        margin-bottom: 20px;
    }
    figure.fixedratio_h1 .abs_heading_text, figure.fixedratio_h2 .abs_heading_text, figure.fixedratio_h3 .abs_heading_text {
        margin-bottom: 10%;
        margin-left: 0;
    }
    figure.fixedratio_h1 {
        padding: 20% 0;
    }
    figure.fixedratio_h2, figure.fixedratio_h3 {
        padding: 37.3095% 0;
    }
    .container {
        padding: 0 20px;
    }
    .icon_con {
        text-align: center;
    }
    [class*="span"] > h5 {
        text-align: center;
    }
    [class*="span"] > h2, [class*="span"] > h3, [class*="span"] > h4, [class*="span"] > h5, [class*="span"] > h6 {
        margin-bottom: 20px;
    }
    .container_1 > * {
        float: none;
    }
    .container_1 i {
        margin: 0;
    }
    .marginb_52 {
        text-align: center;
    }
    .heading_1 > .row-fluid > [class*="span"] > h3, .heading_1 > h3 {
        text-align: center;
    }
    .row-fluid .span12 .img_holder {
        text-align: center;
        margin: 0 auto;
    }
    .faqs_content li .container_1 {
        text-align: center;
    }
    .app_available_widget h5, .faqs_widget h5, .contact_widget h5, .jobs_widget h5 {
        text-align: center;
    }
    .copyright {
        line-height: 150%;
        text-align: center;
    }
    .row-fluid .icon_con {
        margin-bottom: 2rem;
    }
    .theme_col:first-child {
        margin: 0;
    }
    .marginb_20 {
        margin-bottom: 2rem;
    }
    header.wrapper_content {
        margin-bottom: 4rem;
    }
    .f_left, .f_center, .f_right {
        float: none;
        text-align: center;
        margin: 0 auto;
    }
    .qr_codes img {
        margin: 2rem 0;
    }
    .position_content {
        margin-bottom: 2rem;
    }
    .linked_button {
        text-align: center;
    }
    .linked_button a {
        display: inline-block;
    }
    .entry-content p {
        text-align: center;
    }
    .icon_img {
        text-align: center;
    }
    .navbar-inverse .nav-collapse .dropdown-menu a:hover, .navbar-inverse .nav-collapse .nav > li > a:hover, .navbar-inverse .nav-collapse .dropdown-menu a:focus, .navbar-inverse .nav-collapse .nav > li > a:focus {
        background: #3fa3eb;
        color: #bbb;
    }
    .navigation li.f_right {
        float: none !important;
    }
    .overlay_bg {
        z-index: 130;
    }
    .content_overlay {
        z-index: 140;
    }
    .mobile_view * {
        text-align: center;
    }
    .page_content > div > div > * {
        margin-bottom: 40px;
    }
    .page_content > div > div > div > h3 {
        margin: 40px 0;
    }
    .icon_con {
        margin: 20px 0;
    }
    .page_content > div > h3 {
        margin: 40px 0;
    };
}
@media (max-width: 480px) {
    a.btn_linkedin {
        text-align: center;
    }
    .chevrons a {
        text-align: center;
    }
    .chevrons {
        margin-top: 2rem;
    }
    .row-fluid > #previous {
        float: left !important;
        width: auto;
    }
    .row-fluid > #next {
        float: right !important;
        width: auto;
    }
    figure.fixedratio_h1, figure.fixedratio_h2, figure.fixedratio_h3 {
        padding: 50% 0;
    }
    .theme_col {
        margin-bottom: 4rem;
    }
    .container {
        padding: 0 20px;
    }
    .icon_con {
        text-align: center;
    }
    [class*="span"] > h5 {
        text-align: center;
    }
    [class*="span"] > h2, [class*="span"] > h3, [class*="span"] > h4, [class*="span"] > h5, [class*="span"] > h6 {
        margin-bottom: 20px;
    }
    button.btn {
        width: 100%;
        padding: 16px 0 !important;
    }
    .row-fluid {
        margin-bottom: 20px;
    }
    .mobile_view * {
        text-align: center;
    }
    .contact_widget .container_1 i {
        margin: 0 0 10px;
    }
    .mb_56 {
        margin: 0 0 10px;
    }
    .heading_1 > .row-fluid > [class*="span"] > h3, .heading_1 > h3 {
        margin-bottom: 20px;
    }
    .navbar_menu_fixed .row-fluid {
        margin: 0;
    }
    .entry-content > .page_content > div > div > * {
        margin-bottom: 40px;
    }
    .marginb_56 {
        margin-bottom: 20px;
    };
}
@media (max-width: 241px) {
    figure.fixedratio_h1, figure.fixedratio_h2, figure.fixedratio_h3 {
        padding: 75% 0;
    };
   
    
    
}

/* ------------------ END MOBILE AND TABLET COMPATIBILITY ------------------ */