/* CSS for layout elements */
#container{
	width:960px;
	margin:0 auto;
	padding-bottom:100px;
}

#header{
	height:150px;
}

#logo-home{
	display:block;
	float:left;
	padding-top:0px;
}

#menu{
	float:right;
	padding-top:85px;
}

#menu ul{
	margin:0;
	padding:0;
}

#menu li{
	font-size:20px;
}

#menu a{
	color:#666667;
	padding:0 10px;
	text-decoration:none;
}

#menu a:hover{
	border-bottom:3px #666667 solid;
}

#menu ul li a, #menu ul li a:hover{
	border:0;
}

#banner{
	width:920px;
	margin-top:20px;
	background-repeat:no-repeat;
	height:10px;
}

#banner .find-out-more{
	display:block;
	width:255px;
	height:58px;
	padding:100px 0 0 15px;
}

#blurb{
	border-bottom: 1px dotted #999;
	padding:20px 0;
}

#blurb p{
	font-family:Arial, Helvetica, sans-serif;
	color:#666666;
	font-size:16px;
	line-height:150%;
}

#call-to-actions{
	background-image:url(../images/call-to-actions-bg.jpg);
	background-repeat:no-repeat;
	height:64px;
	margin-top:-10px;
}

#call-to-actions a{
	outline:none;
}

#content #call-to-actions ul, li{
	margin:0;
	padding:0;
}

#content #call-to-actions ul li{
	list-style:none;
	display:inline;
}

#call-to-actions a{
	background-repeat:no-repeat;
	display:block;
	height:64px;
	float:left;
	text-indent:-9999px;
}

#call-to-actions .ca{
	background-image:url(../images/cta-cognitive-analytics.jpg);
	width:220px;
	margin-left:39px;
}

#call-to-actions .edm{
	background-image:url(../images/cta-educational-data-mining.jpg);
	width:320px;
	margin-left:40px;
}

#call-to-actions .al{
	background-image:url(../images/cta-adaptive-learning.jpg);
	width:220px;
	margin-left:45px;
}

.clr{
	clear:both;
}


/* CONTENT AREA STYLING */

#content{
	min-height:800px;
	border:1px solid #DDD;
	background-color:#FFF;
	padding:0 20px;
	color:#666666;;
}

#content .home-blocks{
	width:270px;
	margin:20px 6px;
	padding:0 10px;
	float:left;
	border-right: 1px dotted #999;
}

#content .last{
	border:0;
}

#main-inner{
	width:610px;
	float:left;
}

#contact-info{
	width:280px;
	padding-left:20px;
	margin-bottom:20px;
	float:right;
	margin-top:20px;
	border-left: 1px dotted #999;
}

#portfolio-overview { }

#portfolio-overview .showcase {
	display:block;
	float:left;
	margin:0 40px 20px 0;
	position:relative;
	width:200px;
}

#portfolio-overview .showcase img {
	margin:0 0 10px;
	padding : 1px;
	border : 1px solid #cccccc;
	color : #FFFFFF;
	height : 130px;
	width : 200px;
}

#portfolio-overview .showcase p {
	font-size : 12px;
	color : #666666;
	margin : 0;
	padding : 0;
	line-height : 145%;
	margin:0 0 15px;
}

#portfolio-overview .showcase a.showcase-title {
	margin : 0;
	padding : 0;
	display : block;
	margin:0 0 5px;
	font-size : 17px;
	font-family : Arial;
	color : #333333;
}

#item_image {
	border:1px solid #CCCCCC;
	color:#FFFFFF;
	float:left;
	padding:1px;
	width:420px;
}


/* Form Styling */

/* Sample FormBuilder CSS base */

.error {
	display:block;
	font-family : Verdana;
	font-size : 12px;
	background-color : #FFCCCC;
	border: 1px solid #DD7777;
	color : #C52020;
	padding : 3px;
	margin-top:3px;
	font-size : 11px;
}

form {
	margin-top:0
}

form, td, th, li {
	font-size: 100%
}

form div {
	margin-bottom:0
}

fieldset div {
	margin-bottom:0.5em;
	margin-left:1em;
}

fieldset div div {
	margin-top:0.5em;
	margin-left:1em;
}

fieldset {
	margin-bottom:1em;
	padding:0.5em border:0;
}

fieldset label {
	width:auto;
}

legend {
	display:none;
}

textarea {
	width:98%;
	height: 6em;
}

/* Apply this class to text/select input fields with shorter labels to help alignment */
.short-label label {
	float:left;
	width:10em
}

.short-label fieldset div input,
.short-label fieldset div select { width:16em; }

/* Pretty up your Captcha image output */
.captcha {
	margin:0.5em 0;
	width:200px;
	text-align:center;
}

.captcha img {
	border:1px solid #F60;
	margin-bottom:0.5em;
}

.captcha input {
	width:196px;
	margin-top:0.5em;
}

/* Just a bit more room for the Submit button */
.submit {
	margin-top:0.5em;
}

/* Sample FormBuilder CSS base */
form {
	margin-top:0;
}

form, td, th, li {
	font-size: 100%;
}

form div {
margin-bottom:0;
}

fieldset div {
	margin:0;
	padding:0;
}

fieldset div div {
	margin:0;
	padding:0;
}

fieldset {
	margin:0;
	padding:0;
}

fieldset label {
	width:auto;
}

legend {
	color:#FFF;
	font-style:italic;
	font-size:1.2em;
	margin-bottom:0.5em;
	padding:0.2em;
	width:auto;
	border:1px solid #CCC;
}

textarea {
	width:98%;
	height: 6em;
	background-color:#AFAFAF;
}

/* Apply this class to text/select input fields with shorter labels to help alignment */
.short-label label {
	float:left;
	width:10em;
}

.short-label fieldset div input,
.short-label fieldset div select { width:16em; }

/* Pretty up your Captcha image output */
.captcha {
	margin:0.5em 0;
	width:200px;
	text-align:center;
}

.captcha img {
	border:1px solid #F60;
	margin-bottom:0.5em;
}

.captcha input {
	width:196px;
	margin-top:0.5em;
}


/* Just a bit more room for the Submit button */
.submit {
	margin-top:0.5em;
	padding:0;
}

.submit input {
	padding:0 !important;
}

.contactform {
	margin-bottom: 20px;
}

.contactform input, .contactform textarea {
	background-color:#FFF;
	border:1px solid #CCC;
	padding:5px;
	color : #666666;
	font-size : 12px;
}

.contactform input.checkbox {
	border: none;
}

.contactform label {
	display: block;
	float: left;
	width: 150px;
	margin-top:5px;
	margin-bottom : 3px;
	color : #666666;
}

.contactform label.label {
	display: inline;
	float: none;
	width: 50px;
	font-size: 10px;
}

.contactform .fbsubmit {
	border :0;
	width:98px;
	height:30px;
}

.contactform textarea {
	background-color:#FFF;
	border:1px solid #CCC;
}

.formbuilderform .message {
	line-height: 16px;
	padding: 0 0 8px 0;
}

div#leftBar {
	font-size:12px;
}

div#leftBar p {
	font-size:12px;
	margin:0;
	padding:0;
}

div#leftBar ul {
	margin:0;
	padding:0;
	padding-left:8px;
	font-size:11px;
}

div#leftBar li {
	margin:0;
	padding:0;
	list-style-type:none;
}

em {
	font-style:italic;
}

.success {
	background:#EEFCE4 none repeat scroll 0 0;
	border:1px solid #B9F1AE;
	color:#148700;
	margin:10px;
	padding:10px;
}

#features {
}


#features .feature {
	margin-bottom:20px;
}

#features .feature ul {
	margin:0;
	padding:0;
}

#features .feature a.title {
	text-decoration:none;
	color:#222;
	font-size:15px;
}

#features .feature a.more {
	text-decoration:underline;
	color:#333;
	font-size:12px;
}

#features .feature div {
	padding-top:5px;
}

#features .feature ul li {
	color:#555;
	font-size:12px;
}

.contactform2 {
	width:460px;
}

.contactform2 h3 {
	display:block;
	color:#333;
	font-size:13px;
	font-weight:bold;
	background-color:#F3F3F3;
	padding:3px;
	margin:5px 0;
}

.contactform2 input, .contactform2 select, .contactform2 textarea {
	padding:3px;
	margin:2px;
	border:1px solid #CCC;
	color:#666;
	font-size:13px;
	width:200px;
}

.contactform2 textarea {
	height:120px;
	background-color:#FFF;
}

.contactform2 .submit input {
	border:0;
	margin:0;
	padding:0;
	width:auto;
	height:auto;
	margin-left:206px;
}

.contactform2 label {
	padding-top:4px;
	width:200px;
	color:#666;
	font-size:13px;
	float:left;
	padding-left:4px;
}


/* FOOTER STYLING */

#footer-left{
	width:450px;
	float:left;
}

#footer-left li{
	display:inline;
	padding:0;
	margin:0;
}

#footer-left ul{
	margin:10px 0 0 0;
	padding:0;
}

#footer-right{
	width:450px;
	float:right;
}

#footer-right ul{
	margin:0;
	padding:0;
	float:right;
}

#footer-right li{
	margin:0;
	padding:0 5px;
	display:inline;
	list-style:none;
}

.footer, .footer a{
	color:#666;
	text-decoration:none;
}

.footer-logo{
}

/* End of 'layout' */

